@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
	height: 100%;
}

#main {
	background-image: url("https://www.elimurray.co.uk/img/bg.png");
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

#name {
	color: #066D8C;
}

#skills, #social {
	padding: 0;
}

#skills li {
	display: inline;
	font-size: 20px;
	color: #066D8C;
	margin: 0 7px 0 7px;
}

#skills li:not(:last-child):after {
	content: '|';
	padding-left: 16px;
}

#social {
	margin: 0;
}

#social li {
	display: inline;
}

#social li a {
	color: #066D8C;
	text-decoration: none;
	opacity: 0.7;
	padding-left: 10px;
}

#social li a:hover {
	opacity: 1;
}

#social li:last-child {
	padding-left: 0;
}
